<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
         <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>go l33t</title>
    </head>
    <body>
        <div class="container">
            <h1>Your l33tsp3@k phrase...</h1>
            <p>{{ result }}</p>
            <p><a href="/">Go again</a></p>
        </div>
    </body>
</html>
