<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>go l33t</title>
    </head>
    <body>
        <div class="container">
            <h1>It's l33t!</h1>
            <form action="/l33t3d">
                <label for="phrase">Enter phrase</label>
                <input id="phrase" name="phrase" type="text">

                <button type="submit" class="btn">Translate</button>
            </form>
        </div>
    </body>
</html>
